* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

.grid-container {
	display: grid;
	gap: 0;
	grid-template-areas:
		'n h h h'
		'n m m m'
		'n m m m'
		'n f f f';

	background-color: rgba(207, 207, 207, 0.307);
}

nav {
	grid-area: n;
	border: 1px solid black;
	width: 15vw;
}

.sticky {
	position: sticky;
	top: 0;
}

header {
	grid-area: h;
	border: 1px solid black;
	width: 85vw;
	background-color: white;
	justify-content: center;
}

main {
	grid-area: m;
	border: 1px solid black;
	width: 85vw;
	background-color: white;
}

footer {
	grid-area: f;
	border: 1px solid black;
	width: 85vw;
	background-color: white;
}

/*FIRST BREAK POINT === tablet */
@media only screen and (max-width: 900px) {
}

/*SECOND BREAK POINT === mobile */
@media only screen and (max-width: 600px) {
}
